h1{
    color: pink;
    font-size: xx-large;
    font-style: italic;

}
body{
    background-color: gray;
}
p{
    font-style: italic;
    font-size: xx-large;
}
img{
    height: 60%;
    width: 60%;
}
.intro{
    background-color: indigo;
}